@model dynamic
@using Our.Community.Polls.Controllers
@using Our.Community.Polls.Interfaces
@using Our.Community.Polls.Models
@using Umbraco.Cms.Web.Common
@using Umbraco.Extensions
@inject IPollService pollService
@inject UmbracoHelper umbracoHelper
@{
    var question = Model;
    bool allowVote = true;
    bool expired = false;
    if (question.EndDate != null && DateTime.UtcNow > question.EndDate)
    {
        question = pollService.GetQuestion(question.Id);
        expired = true;
        allowVote = false;
    }
    if (TempData["Question"] != null)
    {
        question = (Question)TempData["Question"];
        allowVote = false;
    }
}

@if (question.StartDate != null && DateTime.UtcNow < question.StartDate)
{
    <label>@umbracoHelper.GetDictionaryValue("VotingClosed")</label>
}
else
{
    <div class="card featurepoll" id="poll_@question.Id">
        <div class="card-header">
            @umbracoHelper.GetDictionaryValue(question.Name, question.Name)
        </div>
        @using (Html.BeginUmbracoForm<PollSurfaceController>("Poll"))
        {
            @Html.Hidden("questionId", question.Id,null)
            <ul class="list-group list-group-flush">

                @foreach (var answer in question.Answers)
                {
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                @if (allowVote)
                                {
                                    @Html.RadioButton("answerId", answer.Id, false, new{group="respond"})
                                }
                                @umbracoHelper.GetDictionaryValue(answer.Value, answer.Value)
                            </label>
                            @if (answer.Responses != null && !allowVote)
                            {
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-label="Response percentages" style="width: @answer.Percentage%;" aria-valuenow="@answer.Percentage" aria-valuemin="0" aria-valuemax="100">@answer.Percentage%</div>
                                </div>
                            }
                        </div>
                    </li>
                }
                
            </ul>
            @if (allowVote)
            {
                <div class="card-footer" >
                    <button type="submit" class="btn btn-primary">@umbracoHelper.GetDictionaryValue("VoteBtn")</button>
                    @Html.ValidationSummary()
                </div>
            }
            else
            {
                <div class="card-footer">
                    @if (expired)
                    {
                        <label>@umbracoHelper.GetDictionaryValue("VotingClosed")</label>
                    }
                    else
                    {
                        <label>@umbracoHelper.GetDictionaryValue("ThankYou")</label>
                    }
                    
                </div>
            }
        }
    </div>
}

